terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.terraform.*
.terraform/
rancher-key
rancher-key.pub
.terraform.lock*
server-ca.crt
client-admin.crt
client-admin.key
*-config
cluster-config-k3s
